@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
header {
    /* put the text in the middle */
    text-align: center;
    margin: 0 auto;
	background-color: #01522c;
	padding: 20px;
	color: #222;
	position: relative;
	box-shadow: 0px 1px 0px black;
    font-size: 2.5em;
	font-weight: bold;
	color: white;
}

nav{
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    position: sticky;
	height: 40px;
	display: flex;
	align-items:center;
	box-shadow: 0 1px 1px 0 black;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color: black;
}

.logout {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card {
    display: inline-block;
    background-color: #282c34;
    color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0px 0px 0;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
  }

.card-text {
    font-size: 1.2em;
    color: white;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    width: 200px;
    height: 200px;
  }